@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

.section {
	display: inline-block;
	width: 100%;
	max-width: func.em(420, var.$font-size-primary);
	padding: func.em(50, var.$font-size-primary) 0
		func.em(80, var.$font-size-primary);
	margin: 0 auto;
}

.section__head {
	margin-bottom: func.em(40, var.$font-size-primary);
}

@media (min-width: 48em) {
	.section {
		max-width: func.em(1110, var.$font-size-primary);
		padding: func.em(70, var.$font-size-primary) 0
			func.em(100, var.$font-size-primary);
	}

	.section__head {
		align-items: center;
		margin-bottom: func.em(60, var.$font-size-primary);
	}
}
